<div *ngIf='condition'></div>


<input type="text" #inputElement>
<button (click)="printInput(inputElement)">print this input</button>


<div *ngIf='condition; then trueBlock else falseBlock'></div>
<ng-template #trueBlock>condition is true</ng-template>
<ng-template #falseBlock>condition is false</ng-template>
<div [ng-switch]='person'>
    <p *ngSwitchCase='"nani"'>nani`s code is running</p>
    <p *ngSwitchCase='"ani"'>nani`s code is running</p>
    <p *ngSwitchCase='"ni"'>ni`s code is running</p> 
    <p *ngSwitchCase='"ii"'>ii`s code is running</p>
    <p *ngSwitchDefault>Default code is running</p>
</div>