<!--<h1 [class]="textClasses">{{name}}</h1>
<h1 [class.bg-danger]="redColor" >{{5+5}}</h1>
<img src="{{imgURL}}" alt="">
<p [style.background]="paragraphStyle ? 'red' : 'blue' " [style.padding]="padding">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur culpa dicta ut nemo quo provident sed pariatur, quia expedita velit et doloribus voluptates facilis alias iure ab sapiente dignissimos natus ratione fugiat est asperiores quisquam? Animi exercitationem sit neque numquam?</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th [attr.colspan]="columnSpan">numbers</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>sravya</td>
        </tr>
        <tr>
            <td>2</td>
            <td>nani</td>

        </tr>
        <tr>
            <td>3</td>
            <td>hehe</td>
        </tr>
    </tbody>
</table>-->