<!--<h1 [ngClass]='{"bg-success" : "isSuccess","text-white":"isDanger"}'>hellloooo there,ngclass Directive</h1>
<h1 [ngClass]='classArray'> hello!!! </h1>
<h1 [ngStyle]="{'padding': isSuccess ? '100px' : 'opx', 'background':isSuccess ? 'cyan' : 'pink' }"> ng style directive </h1>
-->
<p appMyDirective>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod eveniet aspernatur praesentium placeat libero delectus veritatis aperiam. Corporis quod magni hic quasi dolores, vel doloribus suscipit nobis veniam voluptatum maxime!</p>