<div class="container">
    <div class="col-md-6 offset-3 mt-4 card card-body">
        <form action="" method="post" role="form" [formGroup]='ResisterForm' (ngSubmit)='showForm(ResisterForm)'>
            <legend class="text-center">Resister</legend>
            <div class="form-group">
                <label for="uname">Username</label>
                <input type="text" name="uname" id="" class="form-control" placeholder="Username"
                    formControlName='uname'>
                <div class="uname.touched && uname.invalid">
                    <div class="alert alert-danger" *ngIf='uname.errors.minLength'>
                        Username must be of 4 letters
                    </div>
                    <div class="alert alert-danger" *ngIf='uname.errors.required'>
                        Username cannot be blank.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email ID</label>
                <input type="email" name="email" id="" email class="form-control" placeholder="Email ID"
                    FormControlName='email'>
                <div class="email.touched && email.invalid">
                    <div class="alert alert-danger" *ngIf='email.errors.email'>
                        This field must be of email type.
                    </div>
                    <div class="alert alert-danger" *ngIf='email.errors.minLength'>
                        Email length must be of 5.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="mob">Mobile Number </label>
                <input type="tel" name="mob" id="" tel class="form-control" placeholder="Mobile Number"
                    FormControlName='mob'>
                <div class="mob.touched && mob.invalid">
                    <div class="alert alert-danger" *ngIf='mob.errors.minLength'>
                        Minlength of the mobile number is 10.
                    </div>
                    <div class="alert alert-danger" *ngIf='mob.errors.maxLength'>
                        Maxlength of the mobile number is 11.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" name="pwd" id="" password class="form-control" placeholder="Password"
                    FormControlName='pwd'>
                <div class="pwd.touched && pwd.invalid">
                    <div class="alert alert-danger" *ngIf='pwd.errors.minLength'>
                        Password length must be of <b>5</b>.
                    </div>
                    <div class="alert alert-danger" *ngIf='pwd.errors.required'>
                        Password cannot be blank
                    </div>
                    <div class="alert alert-danger" *ngIf='pwd.errors.pattern'></div>
                </div>
            </div>
            <div class="form-group">
                <label for="cnfpwd">Confirm Password</label>
                <input type="password" class="form-control" name="pwd" id="" placeholder="Confirm Password">
            </div>
            <div class="btn-group offset-4">
                <button type="submit" class="btn btn-outline-primary">Submit</button>
                <button type="Reset " class="btn btn-outline-warning">Reset</button><br>
            </div>
        </form>
    </div>
</div>



